@model List<Sport>

<h2>Sport</h2>

<table class="table">
    <thead>
        <th>Sport ID</th>
        <th>Sport Name</th>
    </thead>
    <tbody>
        @foreach(var sport in Model)
        {
            <tr>
                <td>@sport.SportID</td>
                <td>@sport.SportName</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("edit")">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("delete")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" href="@Url.Action("create")">Create</a>


