@model IEnumerable<OlympicMedalistBoard.Models.Sport>
@{
    ViewData["Title"] = "Sports";
}
<div class="d-flex d-flex justify-content-center align-items-center position-relative pb-4" style="margin:0 0 40px 0">
    <h3 class="my-4 text-success">@ViewData["Title"]</h3>
    <a href="@Url.Action("Create")" class="btn btn-outline-success position-absolute" style="bottom:-20px;"> + </a>
</div>

<table class="table ps-0">
    <thead>
        <tr class="p-3 d-flex mb-2 align-items-center bg-light">
           <th>
                <b>@Html.DisplayNameFor(model => model.SportID)</b>
            </th>
            <th>
                <b>@Html.DisplayNameFor(model => model.SportName)</b>
            </th>
            <th>
                <b>Actions</b>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sport in Model)
        {
            <tr class="p-3 d-flex align-items-center mb-2">
                <td>@sport.SportID</td>
                <td >@sport.SportName</td>
                <td class="btn-group">
                    <a class="btn btn-outline-success bi bi-pencil" href="@Url.Action("Update", new { id = sport.SportID })"></a>
                    <a class="btn btn-outline-danger bi bi-trash3" href="@Url.Action("Delete",  new { id = sport.SportID })"></a>
                </td>
            </tr>
        }
    </tbody>
</table>



