@model OlympicMedalistBoard.Models.Medal

<h2>Create Medal</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.AthleteID)
        @Html.TextBoxFor(m => m.AthleteID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AthleteID, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.SportID)
        @Html.TextBoxFor(m => m.SportID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SportID, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.MedalType)
        @Html.TextBoxFor(m => m.MedalType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MedalType, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.DateAwarded)
        @Html.TextBoxFor(m => m.DateAwarded, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DateAwarded, "", new { @class = "text-danger" })
    </div>

    <div class="form-actions no-color">
        <button class="btn btn-primary" type="submit">Create</button>

        <form asp-action="Index" method="get" style="display: inline;">
            <button type="submit" class="btn btn-secondary">Back to List</button>
        </form>
    </div>
}




