@model OlympicMedalistBoard.Models.Medal

<h2>Delete Medal</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Athlete</dt>
        <dd>@Html.DisplayFor(model => model.Athlete.Name)</dd>

        <dt>Sport</dt>
        <dd>@Html.DisplayFor(model => model.Sport.SportName)</dd>

        <dt>Medal Type</dt>
        <dd>@Html.DisplayFor(model => model.MedalType)</dd>

        <dt>Date Awarded</dt>
        <dd>@Html.DisplayFor(model => model.DateAwarded)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MedalID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>


