@model OlympicMedalistBoard.Models.Medal

<h2>Medal Details</h2>

<div>
    <h4>Medal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Athlete
        </dt>
        <dd class="col-sm-10">
            @Model.Athlete.Name
        </dd>
        <dt class="col-sm-2">
            Sport
        </dt>
        <dd class="col-sm-10">
            @Model.Sport.SportName
        </dd>
        <dt class="col-sm-2">
            Medal Type
        </dt>
        <dd class="col-sm-10">
            @Model.MedalType
        </dd>
        <dt class="col-sm-2">
            Date Awarded
        </dt>
        <dd class="col-sm-10">
            @Model.DateAwarded
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

