@model OlympicMedalistBoard.Models.Medal

<h2>Medal Details</h2>

<div>
    <h4>Medal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Athlete</dt>
        <dd>@Html.DisplayFor(model => model.Athlete.Name)</dd>

        <dt>Sport</dt>
        <dd>@Html.DisplayFor(model => model.Sport.SportName)</dd>

        <dt>Medal Type</dt>
        <dd>@Html.DisplayFor(model => model.MedalType)</dd>

        <dt>Date Awarded</dt>
        <dd>@Html.DisplayFor(model => model.DateAwarded)</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedalID }) |
    @Html.ActionLink("Back to List", "Index")
</div>


