@model OlympicMedalistBoard.Models.Medal

<h2>Medal Details</h2>

<div>
    <h4>Medal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Athlete</dt>
        <dd>@Html.DisplayFor(model => model.Athlete.Name)</dd>

        <dt>Sport</dt>
        <dd>@Html.DisplayFor(model => model.Sport.SportName)</dd>

        <dt>Medal Type</dt>
        <dd>@Html.DisplayFor(model => model.MedalType)</dd>

        <dt>Date Awarded</dt>
        <dd>@Html.DisplayFor(model => model.DateAwarded)</dd>
    </dl>
</div>
<div class="form-actions no-color">
    <form asp-action="Edit" method="get" style="display: inline;">
        <input type="hidden" name="id" value="@Model.MedalID" />
        <button type="submit">Edit</button>
    </form>

    <form asp-action="Index" method="get" style="display: inline;">
        <button type="submit">Back to List</button>
    </form>
</div>



