@model IEnumerable<OlympicMedalistBoard.Models.Medal>

<h2>Medal List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Athlete</th>
            <th>Sport</th>
            <th>Medal Type</th>
            <th>Date Awarded</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Athlete.Name</td>
                <td>@item.Sport.SportName</td>
                <td>@item.MedalType</td>
                <td>@item.DateAwarded.ToShortDateString()</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.MedalID })">Edit</a>
                    <a class="btn btn-info" href="@Url.Action("Details", new { id = item.MedalID })">Details</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.MedalID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" href="@Url.Action("Create")">Create New</a>


