@model IEnumerable<OlympicMedalistBoard.Models.HomeViewModel>

<div class="d-flex d-flex justify-content-center align-items-center position-relative pb-4">
    <h3 class="my-4">Medal List</h3>
</div>

<table class="table ps-0">
    <thead>
        <tr class="p-3 d-flex mb-2 align-items-center bg-light">
            <th></th>
            <th><b>Country</b></th>
            <th><b>Gold Medals</b></th>
            <th><b>Silver Medals</b></th>
            <th><b>Bronze Medals</b></th>
            <th><b>Total Medals</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model) {
            <tr class="p-3 d-flex align-items-center mb-2">
                <td><img src="https://flagsapi.com/@country.CountryCode/flat/32.png"></td>
                <td>@country.CountryName</td>
                <td>@country.GoldMedalCount</td>
                <td>@country.SilverMedalCount</td>
                <td>@country.BronzeMedalCount</td>
                <td>@country.TotalMedalCount</td>
            </tr>
        }
    </tbody>
</table>