@model IEnumerable<AthleteViewModel>

@{
    ViewData["Title"] = "Athletes";
}
<partial name="_AthleteStyle" />

<div class="d-flex justify-content-between align-content-center align-items-center">
    <h3 class="my-5">@ViewData["Title"]</h3>
    <a href="@Url.Action("Create")" class="btn btn-success sbtn">New</a>
</div>
<table class="table ps-0">
    <thead>
        <tr class="p-3 d-flex mb-2 align-items-center bg-light">
            <th>
                <b>@Html.DisplayNameFor(model => model.AthleteID)</b>
            </th>
            <th>
                <b>@Html.DisplayNameFor(model => model.Name)</b>
            </th>
            <th>
                <b>@Html.DisplayNameFor(model => model.Birthdate)</b>
            </th>
            <th>
                <b>@Html.DisplayNameFor(model => model.Country)</b>
            </th>
            <th>
                <b>@Html.DisplayNameFor(model => model.Sport)</b>
            </th>
            <th>
                <b>Actions</b>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="p-3 d-flex align-items-center mb-2">
                <td>
                    <b>#@item.AthleteID</b>
                </td>
                <td class="d-flex justify-content-center">
                    <div class="photo">
                        <img src="@item.PhotoPath" alt="@item.Name" />
                        <div>@item.Name</div>
                    </div>
                </td>
                <td>
                    @item.Birthdate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Country.CountryName
                </td>
                <td>
                    @item.Sport.SportName
                </td>
                <td class="btn-group">
                    <a href="@Url.Action("Edit",new{id=@item.AthleteID})" class="btn btn-success bi bi-pencil"></a>
                    <a href="@Url.Action("Delete",new{id=@item.AthleteID})" class="btn btn-danger bi bi-trash3"></a>
                </td>
            </tr>
        }
    </tbody>
</table>